---
import "../styles/main.css";
---

<h1>Welcome to CedarJS</h1>
<section class="editor-section">
	<div id="description" class="editor">
		CedarJS is a simple and easy to use WYSIWYG editor. It is written in
		JavaScript and is designed to be easy to use and easy to integrate into your
		project.
	</div>
	<div id="test-editor" class="editor"></div>
</section>

<script>
	import cedar from "../lib/cedar.js";
	cedar.init({
		id: "description",
	});
	cedar.init({
		id: "test-editor",
		defaultContent: "This is the cedar editor",
	});
</script>
